.title {
  display: inline-block;
}
.title::after {
  content: '';
  width: 160px;
  height: 6px;
  background: linear-gradient(90deg, #1f56c3 0%, #407bff 58.05%, #93c1f9 100%);
  display: block;
  transition: width 0.3s ease-in-out;
  margin: 16px 0;
  border-radius: 4px;
}

.box {
  margin: 20px auto;
  width: 60%;
  position: relative;
  z-index: 20;
}

.box-modal {
  z-index: 1000;
}

.negative {
  margin-top: -20rem;
}

.pattern {
  height: 60vh;
}

@media (max-width: 768px) {
  .box {
    width: 100%;
  }
  .negative {
    margin-top: -8rem;
  }
  .pattern {
    height: 30vh;
  }
}

.side-banner {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-y: hidden;
  position: relative;
  padding: 4rem;
  padding-top: 14rem;
}

.side-banner h1 {
  color: #fff;
  width: 20rem;
  font-size: 2.56rem;
  margin-top: 2.19rem;
  margin-bottom: 1.39rem;
}

.side-banner ul {
  color: #fff;
  width: 20rem;
  font-size: 0.96rem;
}

.side-banner ul li {
  margin-bottom: 0.853rem;
  line-height: 1.493rem;
}
@media (max-width: 876px) {
  .side-banner {
    display: none;
  }
  .auth-container {
    width: 100%;
  }
}

.auth-container {
  width: 65%;
  height: 100vh;
  padding-top: 12%;
  padding-bottom: 4%;
  background: '#002D5C';
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  overflow: auto;
  text-align: center;
}

.auth-container .aside-container {
  height: calc(100vh - 16%);
  padding: 0 1rem;
}
